.movieInfo {
    color: rgb(165, 161, 178);
    text-align: center;
}

.movieInfo img {
    width: 800px;
    height: 500px;

}

.movieInfo h4 {
    font-size: 20pt;
    font-family: 'Century Gothic';
    color: white;
}
.movieInfo h3{
    color: rgb(255, 15, 77);
    font-family: 'Century Gothic';
    font-size: 20pt;
}
.title {
    width: 800px;
    margin: 0 auto;
}

.title p {
    text-align: left;
    font-family: 'Century Gothic';
}

.description {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title span {
    color: rgb(255, 15, 77);
}

.vote {
    font-size: 20pt;
}

.vote span {
    color: rgb(255, 15, 77);
    font-size: 30pt;
}

.about {
    width: 600px;
    margin-left: 10px;
    text-align: justify;
    font-size: 14pt;
}

.notfound {
    color: white;
    font-size: 20pt;
}

.newsBlock {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.newsBlock h4{
    font-size: 10pt;
}
.newsBlock p{
    font-size: 8pt;
}
.newsBlock img {
    cursor: pointer;
    border-radius: 20px;
    height: 170px;
    width: 200px;
    transition: 0.5s;
}

.newsBlock img:hover {
    transform: scale(1.1, 1.1);
}

.products img{
    width: 75px;
    height: 30px;
    padding: 5px;
    background-color: aliceblue;
}
.products{
    border-radius: 20px;
    margin: 2px;
}
.products p{
    font-size: 10px;
}
.companies{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14pt;
}