.main {
    background-color: rgb(16, 14, 25);
}

.mainBlock img {
    height: 500px;
    width: 500px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.mainBlock img:hover {
    transform: scale(1.02, 1.02);
}

.mainBlock button {
    background-color: rgb(255, 15, 77);
    color: white;
}

.mainBlock {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerBlock {
    background-color: black;
    font-family: 'Century Gothic';
    font-weight: 500;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.centerBlock p {
    font-size: 14pt;
    text-align: justify;
}

.description {
    margin-left: 50px;
    width: 500px;
    color: white;
}

.description button {
    background-color: rgb(255, 15, 77);
    border: 1px solid rgb(255, 15, 77);
    color: white;
    font-family: consolas;
    font-weight: 900;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.filmItem button {
    background-color: rgb(255, 15, 77);
    color: white;
    font-family: consolas;
    font-weight: 900;
    padding: 1px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
}

.description button:hover {
    color: bisque;
}

.filmItem button:hover {
    background-color: rgb(230, 107, 128);
}

.actualLabel {
    color: white;
    font-family: 'Century Gothic';
    width: 1200px;
    margin: 0 auto;
}

.newsBlock {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.newsBlock img {
    cursor: pointer;
    border-radius: 20px;
    height: 150px;
    width: 170px;
    transition: 0.5s;
}

.newsBlock img:hover {
    transform: scale(1.1, 1.1);
}

.filmItem {
    margin: 15px;
    padding: 10px;
    /* background-color: black; */
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 170px;
    text-align: center;
}

.filmItem p {
    font-size: 10pt;
    margin: 0 auto;
    padding-top: 5px;
    text-align: justify;
    width: 170px;
}

.filmItem h4 {
    font-size: 10pt;
    text-align: center;
}

.main {
    text-align: center;
}

.main button.arrowLeft, .main button.arrowRight {
    border: 1px solid rgb(255, 15, 77);
    width: 40px;
    height: 140px;
    font-size: 20pt;
    font-weight: 700;
    margin: 5px;
}

.main button.arrowLeft {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.main button.arrowRight {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.animateBlock {
    animation-duration: 2s;
    animation-name: animate-block;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down {
    background-color: rgb(255, 15, 77);
    color: white;
    font-family: consolas;
    font-size: 14pt;
    font-weight: 900;
    border: 1px solid rgb(255, 15, 77);
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    width: 70px;
}

@keyframes animate-block {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}