.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tvseries {
    color: white;
    width: 1200px;
    margin: 0 auto;
}
.tvseries h3{
    font-size: 24pt;
    font-family: 'Century Gothic';
}
.newsBlock {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.newsBlock img {
    cursor: pointer;
    border-radius: 20px;
    height: 150px;
    width: 170px;
    transition: 0.5s;
}

.newsBlock img:hover {
    transform: scale(1.1, 1.1);
}