.tops {
    width: 1000px;
    margin: 0 auto;
}

.tops img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
    transition: 0.5s;
}

.tops img:hover {
    transform: scale(1.1, 1.1);
}

.topBlock {
    margin-top: 40px;
    background-color: rgb(255, 15, 77);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: consolas;
    font-weight: 900;
    font-size: 20pt;
}

.topBlock:hover{
    cursor: pointer;
    background-color: tan;
}