.findMovie {
    color: white;

    font-size: 25pt;
    width: 1200px;
    margin: 0 auto;
}

.findMovie h3 {
    font-family: 'Century Gothic';
    margin-top: 20pt;
    font-size: 22pt;
    font-weight: 600;
}

.newsBlock {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.newsBlock img {
    cursor: pointer;
    border-radius: 20px;
    height: 150px;
    width: 170px;
    transition: 0.5s;
}

.newsBlock img:hover {
    transform: scale(1.1, 1.1);
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down {
    background-color: rgb(255, 15, 77);
    color: white;
    font-family: consolas;
    font-size: 14pt;
    font-weight: 900;
    border: 1px solid rgb(255, 15, 77);
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    width: 70px;
}