.films {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}

.headBlock nav li {
    display: inline-block;
    width: 100px;
    margin-left: 80px;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(255, 15, 77);
}

.headBlock nav li a {
    text-decoration: none;
    color: gainsboro;
}

.headBlock nav {
    margin-top: 10px;
    text-align: center;
}
