.films {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    color: white;
    font-family: "Century Gothic";
}

.films p {
    color: rgb(165, 161, 178)
}

.genres ul li {
    display: inline;
    width: 140px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(255, 15, 77);
    list-style: none;
    font-weight: 900;
    font-size: 12pt;
    cursor: pointer;
    transition: 0.5s;
}

.genres ul li:hover {
    transform: scale(1.1, 1.1);
}

.genres ul li a {
    text-decoration: none;
    color: gainsboro;
    font-weight: 900;
    font-size: 12pt;
    padding: 5px;
}

.genres ul {
    display: flex;

}

.years nav {
    display: flex;
    justify-content: space-between;
    font-size: 15pt;
    font-weight: 900;
}

.years nav li {
    list-style: none;
    padding: 80px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 33%, rgba(255, 0, 228, 1) 100%);
    transition: 0.5s;
}

.years nav li:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.trands nav {
    display: flex;
    justify-content: space-around;
    font-size: 30pt;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.day, .week {
    list-style: none;
    border-radius: 10px;
    background-color: rgb(37, 24, 7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 450px;
    transition: 0.5s;
}

.day:hover, .week:hover {
    transform: scale(1.02, 1.02);
}

.day {
    background-image: url(/src/media/posters/day.jpg);
}

.week {
    background-image: url(/src/media/posters/week.jpg);
}