.footer {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(16, 14, 25);
    border-top: 1px solid rgba(220, 220, 220, 0.2);
    color: rgb(146, 146, 146);
    font-family: consolas;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 15pt;
}

.logos {
    margin-right: 100px;
}

.logos img {
    padding-right: 20px;
    height: 40px;
    width: 40px;
    transition: 0.5s;
}

.logos img:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}